.agent/Skills/SKILLS/Agentes_IA/Agente_Chatwoot_WhatsApp_API_Oficial/Agente Chatwoot Meta.json
{
  "name": "Agente Chatwoot Meta",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Mensaje del usuario: {{ $('Datos de Entrada').item.json.contenido }}\n\nNombre del usuario: {{ $('Datos de Entrada').item.json.usuario }}",
        "options": {
          "systemMessage": "=Eres un asistente personal de atención al cliente de un Restaurante"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        176,
        -96
      ],
      "id": "53e2c395-50e5-4aa6-9409-1546a8277b6b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        48,
        96
      ],
      "id": "2a4c129f-58fe-4f5c-8df1-21233dcf4cbd",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "JgX6N75uFQKH3w5M",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Datos de Entrada').item.json.chatId }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        224,
        112
      ],
      "id": "ae51b3fb-ca79-439a-ae63-050977fc21df",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Datos de Entrada').item.json.serverUrl }}/api/v1/accounts/{{ $('Datos de Entrada').item.json.accountId }}/conversations/{{ $('Datos de Entrada').item.json.conversationId }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": {{ JSON.stringify($json.output) }},  \n  \"private\": false,  \n  \"message_type\": \"outgoing\",  \n  \"sender\": \n  {    \n      \"type\": \"bot\"  \n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        496,
        -96
      ],
      "id": "07dde8e4-63cc-481f-a101-0605f12d166c",
      "name": "Respuesta",
      "credentials": {
        "httpHeaderAuth": {
          "id": "DMrppQVHy324K39W",
          "name": "Chatwoot Bot WhatsApp"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "94156fcc-868e-4852-92ef-ddac9d219b88",
              "leftValue": "={{ $json.etiqueta_off }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -64,
        -80
      ],
      "id": "c77cb5f5-e6fa-4cbe-82a4-6e39c97e5f17",
      "name": "If Bot On"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "7fada8e9-0127-4bb6-a5c7-3e46d360a0c6",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -656,
        -80
      ],
      "id": "1f4c9f08-ba15-45cf-9720-b743e5e1dddf",
      "name": "Entrada Chatwoot",
      "webhookId": "7fada8e9-0127-4bb6-a5c7-3e46d360a0c6"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "aa2ffe5a-09e1-4fa5-963d-b25d7cb92a3f",
              "leftValue": "={{ $json.body.event === 'message_created' && $json.body.conversation.messages[0].sender_type === 'Contact' && $json.body.message_type === 'incoming' }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -448,
        -80
      ],
      "id": "e102f068-666d-4500-8d86-81c4a145a7fe",
      "name": "Filtrar Mensajes"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d68a5623-b82c-46af-812e-cf6ba16b25d5",
              "name": "serverUrl",
              "value": "https://chatwoottest.dominia.site/",
              "type": "string"
            },
            {
              "id": "e4bb5166-9ed5-43ba-8783-548b5abda461",
              "name": "accountId",
              "value": "={{ $json.body.account.id }}",
              "type": "string"
            },
            {
              "id": "8ced4b6d-c41f-409a-8c67-dee3585cab6c",
              "name": "conversationId",
              "value": "={{ $json.body.conversation.id }}",
              "type": "string"
            },
            {
              "id": "588f073a-c30e-4c9e-b488-3ebc2d6f3cf0",
              "name": "mensajeId",
              "value": "={{ $json.body.id }}",
              "type": "string"
            },
            {
              "id": "845cd6fa-aa5b-46aa-9e88-b14d8f31dd58",
              "name": "chatId",
              "value": "={{ $json.body.sender.phone_number }}",
              "type": "string"
            },
            {
              "id": "5e392035-afd5-4bd4-b296-8f568dfffe92",
              "name": "contenido",
              "value": "={{ $json.body.content }}",
              "type": "string"
            },
            {
              "id": "f8899564-45bc-49ed-96ca-6be1945ce898",
              "name": "usuario",
              "value": "={{ $json.body.sender.name }}",
              "type": "string"
            },
            {
              "id": "58f1dba0-fc0c-4f55-ad1f-a1038b5ae06f",
              "name": "etiqueta_off",
              "value": "={{ $json.body?.conversation?.labels?.[0] ? true : false }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -240,
        -96
      ],
      "id": "c508147d-b40b-4ef5-abc8-79281e7ec8ba",
      "name": "Datos de Entrada"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Bot On": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Entrada Chatwoot": {
      "main": [
        [
          {
            "node": "Filtrar Mensajes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar Mensajes": {
      "main": [
        [
          {
            "node": "Datos de Entrada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Datos de Entrada": {
      "main": [
        [
          {
            "node": "If Bot On",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "f37637c2-4865-40f2-a54e-cd5fe6d3a960",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4f533dbbdf645671de9cea5efbced9a3b915b0541b5d1eadc4a69d9bb79a9964"
  },
  "id": "4lEd6dfwoxzsz179",
  "tags": []
}