.agent/Skills/SKILLS/Lovable_n8n/Lovabe_Dashboard_Inmobiliaria/Procesar Leads.json
{
  "name": "Procesar Leads",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "0ca4a8de-d83e-4ea8-afbd-3715b521cc00",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -384,
        -96
      ],
      "id": "bc01367b-64b6-4a33-9b2b-ed78dec2508b",
      "name": "Webhook",
      "webhookId": "0ca4a8de-d83e-4ea8-afbd-3715b521cc00"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Datos del lead:\n\nNombre: {{ $json.body.Nombre }}\nEmail: {{ $json.body.Email }}\nTelefono: {{ $json.body.Telefono }}\nQueQuieresHacer: {{ $json.body.QueQuieresHacer }}\nTipoInmueble: {{ $json.body.TipoInmueble }}\nZonaBarrio: {{ $json.body.ZonaBarrio }}\nPresupuesto: {{ $json.body.Presupuesto }}\nPlazo: {{ $json.body.Plazo }}\nComoNosHasContactado: {{ $json.body.ComoNosHasConocido }}\nMensaje: {{ $json.body.Mensaje }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Eres un asistente especializado en análisis de leads inmobiliarios.\n\nVas a recibir en la entrada un objeto JSON con información de un lead con, como mínimo, estos campos:\n- Nombre\n- Email\n- Telefono\n- QueQuieresHacer\n- TipoInmueble\n- ZonaBarrio\n- Presupuesto\n- Plazo\n- ComoNosHasConocido\n- Mensaje\n\nTu tarea es analizar el contenido, especialmente el campo \"Mensaje\", junto con el resto de campos, y devolver UN ÚNICO objeto JSON con exactamente estos campos:\n\n- \"ResumenIA\": resumen muy corto del lead, en tercera persona, en una sola frase. Debe explicar qué quiere el cliente, dónde y con qué presupuesto. Ejemplo de estilo:\n  \"Quiere comprar piso de 3 habitaciones en Madrid centro, presupuesto 450.000–500.000 €, mudanza antes de verano.\"\n  No inventes datos que no aparezcan; si falta información, simplifica el resumen.\n\n- \"TipoClienteIA\": tipo de cliente, usando exclusivamente uno de estos valores:\n  \"familia\", \"inversor\", \"joven profesional\", \"empresa\", \"estudiante\", \"jubilado\", \"pareja\", \"otro\".\n  Decide el tipo a partir del mensaje y del contexto. Si no puedes deducirlo con claridad, usa \"otro\".\n\n- \"LeadScoreIA\": número entero de 0 a 100 que representa la probabilidad de cierre o nivel de interés. Usa estas guías:\n  - 0–30: Muy bajo interés o muy poca información.\n  - 31–60: Interés medio.\n  - 61–80: Interés alto.\n  - 81–100: Muy alto interés y alta probabilidad de cierre.\n  Ten en cuenta el tono del mensaje, claridad de requisitos, presupuesto definido y urgencia.\n\n- \"UrgenciaIA\": nivel de urgencia, usando exclusivamente uno de estos valores:\n  \"Alta\", \"Media\", \"Baja\".\n  Guía orientativa:\n  - \"Lo antes posible\", \"urgente\", fechas muy próximas, lenguaje de prisa ⇒ \"Alta\".\n  - Plazo de 3–6 meses o lenguaje neutro ⇒ \"Media\".\n  - \"Más de 6 meses\", \"solo estoy mirando\", \"sin prisa\" ⇒ \"Baja\".\n\n- \"SentimientoIA\": percepción general del tono del lead, usando exclusivamente uno de estos valores:\n  \"Muy interesado\", \"Interesado\", \"Solo curioseando\", \"Molesto\", \"Escéptico\".\n  - \"Muy interesado\": muy decidido, claro, directo, con intención fuerte de avanzar.\n  - \"Interesado\": tono positivo y normal, sin urgencia extrema.\n  - \"Solo curioseando\": explícitamente dice que está mirando opciones o muy poco comprometido.\n  - \"Molesto\": tono agresivo, queja, enfado, mala experiencia previa.\n  - \"Escéptico\": dudas, desconfianza, muchas condiciones o miedos expresos.\n\nCONDICIONES IMPORTANTES:\n- NO devuelvas explicaciones, ni texto adicional, ni comentarios.\n- NO uses Markdown.\n- NO devuelvas el objeto de entrada.\n- Devuelve ÚNICAMENTE un objeto JSON plano con las 5 claves indicadas:\n  \"ResumenIA\", \"TipoClienteIA\", \"LeadScoreIA\", \"UrgenciaIA\", \"SentimientoIA\".\n- Asegúrate de que \"LeadScoreIA\" es un número entero (no string) y que los demás campos son cadenas de texto.\n\n## Ejemplo de salida:\n\n{\n  \"ResumenIA\": \"Quiere comprar piso de 3 habitaciones en Madrid centro, presupuesto 450000 €, mudanza en menos de 3 meses.\",\n  \"TipoClienteIA\": \"familia\",\n  \"LeadScoreIA\": 87,\n  \"UrgenciaIA\": \"Alta\",\n  \"SentimientoIA\": \"Muy interesado\"\n}\n\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -128,
        -96
      ],
      "id": "23c8c3ea-ec7a-404e-805c-0fa1f2dc6a19",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -192,
        96
      ],
      "id": "effd6cac-f5b7-408b-a0f0-c6fdd397be02",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "EVczDnBoLisDhMvp",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "={\n  \"type\": \"object\",\n  \"properties\": {\n    \"ResumenIA\": {\n      \"type\": \"string\",\n      \"description\": \"Resumen breve en una frase de lo que quiere el lead (tipo de operación, inmueble, zona y presupuesto si se menciona).\"\n    },\n    \"TipoClienteIA\": {\n      \"type\": \"string\",\n      \"description\": \"Tipo de cliente clasificado por la IA.\",\n      \"enum\": [\n        \"familia\",\n        \"inversor\",\n        \"joven profesional\",\n        \"empresa\",\n        \"estudiante\",\n        \"jubilado\",\n        \"pareja\",\n        \"otro\"\n      ]\n    },\n    \"LeadScoreIA\": {\n      \"type\": \"integer\",\n      \"description\": \"Probabilidad de cierre o nivel de interés entre 0 y 100.\",\n      \"minimum\": 0,\n      \"maximum\": 100\n    },\n    \"UrgenciaIA\": {\n      \"type\": \"string\",\n      \"description\": \"Nivel de urgencia percibida.\",\n      \"enum\": [\n        \"Alta\",\n        \"Media\",\n        \"Baja\"\n      ]\n    },\n    \"SentimientoIA\": {\n      \"type\": \"string\",\n      \"description\": \"Percepción general del tono del lead.\",\n      \"enum\": [\n        \"Muy interesado\",\n        \"Interesado\",\n        \"Solo curioseando\",\n        \"Molesto\",\n        \"Escéptico\"\n      ]\n    }\n  },\n  \"required\": [\n    \"ResumenIA\",\n    \"TipoClienteIA\",\n    \"LeadScoreIA\",\n    \"UrgenciaIA\",\n    \"SentimientoIA\"\n  ],\n  \"additionalProperties\": false\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        48,
        112
      ],
      "id": "00df0fb7-b169-4653-af05-a0a99d613544",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        400,
        -96
      ],
      "id": "ae3c98ad-0e95-4739-b81e-e1acf1c18709",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "xiRBtq4xSpuu9180",
          "mode": "list",
          "cachedResultName": "Leads Inmobiliaria",
          "cachedResultUrl": "/projects/1BQl9jGuctDBYcMq/datatables/xiRBtq4xSpuu9180"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nombre": "={{ $('Webhook').item.json.body.Nombre }}",
            "Email": "={{ $('Webhook').item.json.body.Email }}",
            "Telefono": "={{ $('Webhook').item.json.body.Telefono }}",
            "QueQuieresHacer": "={{ $('Webhook').item.json.body.QueQuieresHacer }}",
            "TipoInmueble": "={{ $('Webhook').item.json.body.TipoInmueble }}",
            "ZonaBarrio": "={{ $('Webhook').item.json.body.ZonaBarrio }}",
            "Presupuesto": "={{ $('Webhook').item.json.body.Presupuesto }}",
            "Plazo": "={{ $('Webhook').item.json.body.Plazo }}",
            "ComoNosHasConocido": "={{ $('Webhook').item.json.body.ComoNosHasConocido }}",
            "Mensaje": "={{ $('Webhook').item.json.body.Mensaje }}",
            "ResumenIA": "={{ $json.output.ResumenIA }}",
            "TipoClienteIA": "={{ $json.output.TipoClienteIA }}",
            "LeadScoreIA": "={{ $json.output.LeadScoreIA }}",
            "UrgenciaIA": "={{ $json.output.UrgenciaIA }}",
            "SentimientoIA": "={{ $json.output.SentimientoIA }}",
            "FechaHora": "2025-12-10T17:20:47",
            "EstadoLeadNumero": 0,
            "EstadoLead": "Nuevo"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Telefono",
              "displayName": "Telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "QueQuieresHacer",
              "displayName": "QueQuieresHacer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "TipoInmueble",
              "displayName": "TipoInmueble",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ZonaBarrio",
              "displayName": "ZonaBarrio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Presupuesto",
              "displayName": "Presupuesto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Plazo",
              "displayName": "Plazo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ComoNosHasConocido",
              "displayName": "ComoNosHasConocido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Mensaje",
              "displayName": "Mensaje",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ResumenIA",
              "displayName": "ResumenIA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "TipoClienteIA",
              "displayName": "TipoClienteIA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "LeadScoreIA",
              "displayName": "LeadScoreIA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "UrgenciaIA",
              "displayName": "UrgenciaIA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "SentimientoIA",
              "displayName": "SentimientoIA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "FechaHora",
              "displayName": "FechaHora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "EstadoLeadNumero",
              "displayName": "EstadoLeadNumero",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "EstadoLead",
              "displayName": "EstadoLead",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        208,
        -96
      ],
      "id": "908eefe8-383c-4449-b1fe-5d5dd563a985",
      "name": "Insert row"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert row": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true
  },
  "versionId": "d087483b-5755-4b06-b3c7-0e1e2c2fe9fd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cd45752616b99f4db905fdbf77b15f941dcae0df3c6a48b8fdb10fb443542c37"
  },
  "id": "VuSkqsGExcvPWUnz",
  "tags": []
}