.agent/Skills/SKILLS/Antigravity_n8n/Contabilidad_antigravity/Agente IA Contabilidad.json
{
  "name": "Agente IA Contabilidad",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.userMessage }}",
        "options": {
          "systemMessage": "=Eres un asistente personal de finanzas. Tu único objetivo es dar información acerca de la contabilidad de una AGENCIA IA.\n\nTodos los datos e información la tienes en tu herramienta \"Contabilidad\". Consulta siempre esta herramienta para dar respueta al usuario.\n\nFecha y hora actual: {{ $now }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -80,
        -128
      ],
      "id": "01e03e1c-1e33-429d-af87-26fc646638fb",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -208,
        80
      ],
      "id": "67ca9ff1-4a2d-4768-a693-0f626dcb5231",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "EVczDnBoLisDhMvp",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.body.sessionId }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -48,
        80
      ],
      "id": "4ac5a2dd-0941-4f46-9073-4ae4b18acb09",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "18Ts7hMat0spsr6KLUdniAiJTIqZcTKUTyDsxYL-Hw18",
          "mode": "list",
          "cachedResultName": "Contabilidad",
          "cachedResultUrl": ""
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": ""
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        128,
        64
      ],
      "id": "a53413c5-c831-4aef-92fb-e6193d735c0e",
      "name": "Contabilidad",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "NEllZjUUUGerliRw",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "849d797e-7a0a-41df-9751-14166ad02a75",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -320,
        -128
      ],
      "id": "38126575-70e5-45eb-b895-04db77d9a5a1",
      "name": "Webhook",
      "webhookId": "849d797e-7a0a-41df-9751-14166ad02a75"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        256,
        -128
      ],
      "id": "0e9b2b3b-e055-4833-876b-f6ffe9408e80",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Contabilidad": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1c46ec57-53d3-4abf-84ed-e45c2f18bf31",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cd45752616b99f4db905fdbf77b15f941dcae0df3c6a48b8fdb10fb443542c37"
  },
  "id": "sbFBtaAGmyaCUdOw",
  "tags": []
}