.agent/Skills/SKILLS/Agentes_IA/Agente_Dinamico/Chatbot Dinamico_Josema_Fernandez.json
{
  "name": "Chatbot Dinamico",
  "nodes": [
    {
      "parameters": {
        "options": {
          "responseMode": "responseNodes"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -352,
        -112
      ],
      "id": "78c8fd3e-194e-4b94-8cc9-c4ea53b2aa97",
      "name": "When chat message received",
      "webhookId": "9e5301de-371b-45d0-b6bf-c8ea30c48d9c"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=Eres un asistente encargado de ejecutar las siguientes acciones:\n\n- Busquedas en Internet.\n- Enviar Emails.\n- Agendar Reuniones.\n\nReglas:\n\n* Cuando un usuario te pida enviar un email, genera el asunto, el contenido y el destinatario pero antes de enviarlo, utiliza la herramienta \"Confirmar\" y muestra al usuario toda la información que has generado y espera confirmación del mismo. Una vez que te confirme, envía el email usando la herramienta \"Enviar Correo\".\n\n* Cuando un usuario te pida agendar una reunión, genera todos los datos de la reunión: titulo, descripción, destinatario, y fecha hora de la reunión; pero antes de enviarlo, utiliza la herramienta \"Confirmar\" y muestra al usuario toda la información que has generado y espera confirmación del mismo. Una vez que te confirme, agenda la reunión utilizando la herramienta \"Agendar\".\n\nfecha y hora actual: {{ $now }}",
          "passthroughBinaryImages": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -64,
        -112
      ],
      "id": "d4d39500-8452-4f88-bc4c-c59a3e2ca9aa",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "builtInTools": {
          "webSearch": {
            "searchContextSize": "medium"
          }
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -272,
        96
      ],
      "id": "09391d53-b81d-4431-a370-388371fbeb74",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "EVczDnBoLisDhMvp",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -80,
        112
      ],
      "id": "0d5f68e7-0fd5-4777-845f-3075538b1ce2",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "toolDescription": "=Utiliza esta herramienta para confirmar con el usuario el titulo, contenido y destinatario del email que has escrito antes de usar la herramienta \"Enviar Correo\".\n\nUtiliza esta herramienta para confirmar con el usuario los datos para agendar una reunión antes de utilizar la herramienta \"Agendar\".",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTool",
      "typeVersion": 1,
      "position": [
        96,
        128
      ],
      "id": "ce52f4d1-461f-4179-9fe8-a37f51a9d9d5",
      "name": "Confirmar"
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        224,
        128
      ],
      "id": "7b93cd09-63ea-4d00-832f-f1edf7e15daf",
      "name": "Enviar Correo",
      "webhookId": "30f34b53-0233-433f-b7c1-f61c0392483e",
      "credentials": {
        "gmailOAuth2": {
          "id": "zMw2ZBmuHMVnlCra",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "message": "={{ $json.output }}",
        "waitUserReply": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1,
      "position": [
        320,
        -112
      ],
      "id": "e47c0524-a5ea-424d-aa3a-1100e366b06b",
      "name": "Respond to Chat"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": ""
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "attendees": [
            "tu_correo",
            "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('attendees1_Attendees', ``, 'string') }}"
          ],
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}",
          "sendUpdates": "all",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        384,
        128
      ],
      "id": "a888901b-bdc7-4349-8e66-03a2ae9e520a",
      "name": "Agendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "zQrM9CYxPcdBzCOf",
          "name": "Google Calendar account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Confirmar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Correo": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Agendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e37c25b3-d403-4c5c-9a36-56712ae6344b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cd45752616b99f4db905fdbf77b15f941dcae0df3c6a48b8fdb10fb443542c37"
  },
  "id": "rFI2al5F8Tylb9Tl",
  "tags": []
}